@import './material-shadows'

.table-component 
  display flex
  flex-direction column

.table-component__filter
  align-self flex-end
  position relative
  z-depth-2dp()
  margin 0.5em 0

.table-component__filter__field
  min-width 250px
  padding 0 1.25em 0 .75em
  height 2.5em
  font-size inherit
  border 0

.table-component__filter__field:focus
  outline none

.table-component__filter__clear
  position absolute
  top 0
  right 0
  bottom 0
  display flex
  align-items center
  justify-content center
  width 2em
  color #007593
  font-weight bold
  cursor pointer

.table-component__table-wrapper
  overflow-x auto
  margin 1em 0
  width 100%
  border solid 1px #ddd
  border-bottom none

.table-component__table
  min-width 100%
  border-collapse collapse
  border-bottom solid 1px #ddd
  table-layout fixed

.table-component__table__caption
  position absolute
  top auto
  left -10000px
  overflow hidden
  width 1px
  height 1px

.table-component__table .table th, .table-component__table .table td 
  border-top none


.table-component__table tr 
  background #fff


.table-component__table td 
  background-color inherit

.table-component__table .table caption + thead trfirst-child th,
.table-component__table .table caption + thead trfirst-child td,
.table-component__table .table colgroup + thead trfirst-child th,
.table-component__table .table colgroup + thead trfirst-child td,
.table-component__table .table theadfirst-child trfirst-child th,
.table-component__table .table theadfirst-child trfirst-child td 
  border-top 1px solid #CCCCCC


/* table-bordered */
.table-component__table .table-bordered 
  border 0
  border-collapse separate


.table-component__table .table-bordered th,
.table-component__table .table-bordered td 
  border-left none


.table-component__table .table-bordered thfirst-child,
.table-component__table .table-bordered tdfirst-child 
  border-left 1px solid #CCCCCC


.table-component__table .table > tbody > tr > td,
.table-component__table .table > tbody > tr > th,
.table-component__table .table > tfoot > tr > td,
.table-component__table .table > tfoot > tr > th,
.table-component__table .table > thead > tr > td,
.table-component__table .table > thead > tr > th 
  line-height 21px
  padding 0 4px


.col-lg-1.table-component__table, .col-lg-10.table-component__table, .col-lg-11.table-component__table, .col-lg-12.table-component__table,
.col-lg-2.table-component__table, .col-lg-3.table-component__table, .col-lg-4.table-component__table, .col-lg-5.table-component__table, .col-lg-6.table-component__table, .col-lg-7.table-component__table, .col-lg-8.table-component__table, .col-lg-9.table-component__table,
.col-md-1.table-component__table, .col-md-10.table-component__table, .col-md-11.table-component__table, .col-md-12.table-component__table,
.col-md-2.table-component__table, .col-md-3.table-component__table, .col-md-4.table-component__table, .col-md-5.table-component__table, .col-md-6.table-component__table, .col-md-7.table-component__table, .col-md-8.table-component__table, .col-md-9.table-component__table
.col-sm-1.table-component__table, .col-sm-10.table-component__table, .col-sm-11.table-component__table, .col-sm-12.table-component__table,
.col-sm-2.table-component__table, .col-sm-3.table-component__table, .col-sm-4.table-component__table, .col-sm-5.table-component__table, .col-sm-6.table-component__table, .col-sm-7.table-component__table, .col-sm-8.table-component__table, .col-sm-9.table-component__table
.col-xs-1.table-component__table, .col-xs-10.table-component__table, .col-xs-11.table-component__table, .col-xs-12.table-component__table,
.col-xs-2.table-component__table, .col-xs-3.table-component__table, .col-xs-4.table-component__table, .col-xs-5.table-component__table, .col-xs-6.table-component__table, .col-xs-7.table-component__table, .col-xs-8.table-component__table, .col-xs-9.table-component__table 
  padding-left 0
  padding-right 0


.table-component__table .table-striped > tbody > trnth-of-type(even) 
  background-color #FFF

.table-component__table 
  position relative


.table-component__table .hide
  display none

.table-component__table .relative 
  position relative


.table-component__table.htAutoSize 
  visibility hidden
  left -99000px
  position absolute
  top -99000px


.table-component__table .wtHider 
  width 0


.table-component__table .wtSpreader 
  position relative
  width 0 /*must be 0, otherwise blank space appears in scroll demo after scrolling max to the right */
  height auto


.table-component__table table,
.table-component__table tbody,
.table-component__table thead,
.table-component__table td,
.table-component__table th,
.table-component__table input,
.table-component__table textarea,
.table-component__table div 
  box-sizing content-box
  -webkit-box-sizing content-box
  -moz-box-sizing content-box


.table-component__table input,
.table-component__table textarea 
  min-height initial


.table-component__table table.htCore 
  border-collapse separate
  /* it must be separate, otherwise there are offset miscalculations in WebKit http//stackoverflow.com/questions/2655987/border-collapse-differences-in-ff-and-webkit */
  /* this actually only changes appearance of user selection - does not make text unselectable */
  /* -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -o-user-select none
  -ms-user-select none
  user-select none */ /* no browser supports unprefixed version */
  border-spacing 0
  margin 0
  border-width 0
  table-layout fixed
  width 0
  outline-width 0
  /* reset bootstrap table style. for more info see https//github.com/handsontable/handsontable/issues/224 */
  max-width none
  max-height none


.table-component__table col 
  width 50px


.table-component__table col.rowHeader 
  width 50px


.table-component__table th,
.table-component__table td 
  border-top-width 0
  border-left-width 0
  border-right 1px solid #CCC
  border-bottom 1px solid #CCC
  height 22px
  empty-cells show
  line-height 21px
  padding 0 4px 0 4px
  /* top, bottom padding different than 0 is handled poorly by FF with HTML5 doctype */
  background-color #FFF
  vertical-align top
  overflow hidden
  outline-width 0
  white-space pre-line
  /* preserve new line character in cell */
  background-clip padding-box


.table-component__table td.htInvalid 
  background-color #ff4c42 !important /*gives priority over td.area selection background*/


.table-component__table td.htNoWrap 
  white-space nowrap


.table-component__table thlast-child 
  /*Foundation framework fix*/
  border-right 1px solid #CCC
  border-bottom 1px solid #CCC


.table-component__table trfirst-child th.htNoFrame,
.table-component__table thfirst-child.htNoFrame,
.table-component__table th.htNoFrame 
  border-left-width 0
  background-color white
  border-color #FFF


.table-component__table thfirst-child,
.table-component__table thnth-child(2),
.table-component__table tdfirst-of-type,
.table-component__table .htNoFrame + th,
.table-component__table .htNoFrame + td 
  border-left 1px solid #CCC


.table-component__table.htRowHeaders thead tr thnth-child(2) 
  border-left 1px solid #CCC


.table-component__table trfirst-child th,
.table-component__table trfirst-child td 
  border-top 1px solid #CCC


.ht_masternot(.innerBorderLeft)not(.emptyColumns) ~ .table-component__table tbody tr th,
.ht_masternot(.innerBorderLeft)not(.emptyColumns) ~ .table-component__tablenot(.ht_clone_top) thead tr thfirst-child 
  border-right-width 0


.ht_masternot(.innerBorderTop) thead trlast-child th,
.ht_masternot(.innerBorderTop) ~ .table-component__table thead trlast-child th,
.ht_masternot(.innerBorderTop) thead tr.lastChild th,
.ht_masternot(.innerBorderTop) ~ .table-component__table thead tr.lastChild th 
  border-bottom-width 0


.table-component__table th 
  background-color #f3f3f3
  color #222
  text-align center
  font-weight normal
  white-space nowrap


.table-component__table thead th 
  padding 0


.table-component__table th.active 
  background-color #CCC

.table-component__table thead th .relative 
  padding 2px 4px


/* selection */
.table-component__table tbody th.ht__highlight,
.table-component__table thead th.ht__highlight 
  background-color #dcdcdc

.table-component__table.ht__selection--columns thead th.ht__highlight,
.table-component__table.ht__selection--rows tbody th.ht__highlight 
  background-color #8eb0e7
  color #000


#hot-display-license-info 
  font-size 9px
  color #323232 
  padding 5px 0 3px 0
  font-family Helvetica, Arial, sans-serif
  text-align left


/* plugins */

/* row + column resizer*/
.table-component__table .manualColumnResizer 
  position fixed
  top 0
  cursor col-resize
  z-index 110
  width 5px
  height 25px


.table-component__table .manualRowResizer 
  position fixed
  left 0
  cursor row-resize
  z-index 110
  height 5px
  width 50px


.table-component__table .manualColumnResizerhover,
.table-component__table .manualColumnResizer.active,
.table-component__table .manualRowResizerhover,
.table-component__table .manualRowResizer.active 
  background-color #AAB


.table-component__table .manualColumnResizerGuide 
  position fixed
  right 0
  top 0
  background-color #AAB
  display none
  width 0
  border-right 1px dashed #777
  margin-left 5px


.table-component__table .manualRowResizerGuide 
  position fixed
  left 0
  bottom 0
  background-color #AAB
  display none
  height 0
  border-bottom 1px dashed #777
  margin-top 5px


.table-component__table .manualColumnResizerGuide.active,
.table-component__table .manualRowResizerGuide.active 
  display block
  z-index 199


.table-component__th
  cursor default
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.table-component__th--sort
  position relative
  cursor pointer

.table-component__th--sort:after
  font-size 8px
  content '\25B2'
  color lighten(#5f5f5f, 70%)
  right -15px

.table-component__th--sort-asc:after
  font-size 8px
  content '\25B2'
  color #5f5f5f
  right -15px

.table-component__th--sort-desc:after
  font-size 8px
  content '\25BC'
  color #5f5f5f
  right -15px

/* border line */

.table-component__table .wtBorder 
  position absolute
  font-size 0

.table-component__table .wtBorder.hidden
  displaynone !important


.table-component__table td.area,
.table-component__table td.area-1,
.table-component__table td.area-2,
.table-component__table td.area-3,
.table-component__table td.area-4,
.table-component__table td.area-5,
.table-component__table td.area-6,
.table-component__table td.area-7 
  position relative
  background none
  background-color transparent


.table-component__table td.areabefore,
.table-component__table td.area-1before,
.table-component__table td.area-2before,
.table-component__table td.area-3before,
.table-component__table td.area-4before,
.table-component__table td.area-5before,
.table-component__table td.area-6before,
.table-component__table td.area-7before 
  content ''
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background #005eff

.table-component__table td.areabefore 
  opacity 0.1

.table-component__table td.area-1before 
  opacity 0.2

.table-component__table td.area-2before 
  opacity 0.27

.table-component__table td.area-3before 
  opacity 0.35

.table-component__table td.area-4before 
  opacity 0.41

.table-component__table td.area-5before 
  opacity 0.47

.table-component__table td.area-6before 
  opacity 0.54

.table-component__table td.area-7before 
  opacity 0.58


/* fill handle */

.table-component__table .wtBorder.corner 
  font-size 0
  cursor crosshair


.table-component__table .htBorder.htFillBorder 
  background red
  width 1px
  height 1px


.handsontableInput 
  bordernone
  outline-width 0
  margin 0 
  padding 1px 5px 0 5px
  font-family inherit
  line-height 21px
  font-size inherit
  box-shadow 0 0 0 2px #5292F7 inset
  resize none
  /*below are needed to overwrite stuff added by jQuery UI Bootstrap theme*/
  display block
  color #000
  border-radius 0
  background-color #FFF
  /*overwrite styles potentionally made by a framework*/


.handsontableInputHolder 
  position absolute
  top 0
  left 0
  z-index 100


.htSelectEditor 
  -webkit-appearance menulist-button !important
  position absolute
  width auto


/*
TextRenderer readOnly cell
*/

.table-component__table .htDimmed 
  color #777


.table-component__table .htSubmenu 
  position relative


.table-component__table .htSubmenu after
  content '\25B6'
  color #777
  position absolute
  right 5px

/*
TextRenderer horizontal alignment
*/
.table-component__table .htLeft
  text-align left

.table-component__table .htCenter
  text-align center

.table-component__table .htRight
  text-align right

.table-component__table .htJustify
  text-align justify

/*
TextRenderer vertical alignment
*/
.table-component__table .htTop
  vertical-align top

.table-component__table .htMiddle
  vertical-align middle

.table-component__table .htBottom
  vertical-align bottom


/*
TextRenderer placeholder value
*/

.table-component__table .htPlaceholder 
  color #999


/*
AutocompleteRenderer down arrow
*/

.table-component__table .htAutocompleteArrow 
  float right
  font-size 10px
  color #EEE
  cursor default
  width 16px
  text-align center


.table-component__table td .htAutocompleteArrowhover 
  color #777


.table-component__table td.area .htAutocompleteArrow 
  color #d3d3d3


/*
CheckboxRenderer
*/
.table-component__table .htCheckboxRendererInput 
  display inline-block
  vertical-align middle

.table-component__table .htCheckboxRendererInput.noValue 
  opacity 0.5

.table-component__table .htCheckboxRendererLabel 
  cursor pointer
  display inline-block
  width 100%


@-webkit-keyframes opacity-hide 
  from 
    opacity 1
  
  to 
    opacity 0
    /*display none*/
  

@keyframes opacity-hide 
  from 
    /*display block*/
    opacity 1
  
  to 
    opacity 0
    /*display none*/
  


@-webkit-keyframes opacity-show 
  from 
    opacity 0
    /*display none*/
  
  to 
    opacity 1
    /*display block*/
  

@keyframes opacity-show 
  from 
    opacity 0
    /*display none*/
  
  to 
    opacity 1
    /*display block*/
  


/**
 * Handsontable in Handsontable
 */

.table-component__table .table-component__table.ht_clone_top .wtHider 
  padding 0 0 5px 0


/**
* Autocomplete Editor
*/
.table-component__table .autocompleteEditor.table-component__table 
  padding-right 17px

.table-component__table .autocompleteEditor.table-component__table.htMacScroll 
  padding-right 15px



/**
 * Handsontable listbox theme
 */

.table-component__table.listbox 
  margin 0


.table-component__table.listbox .ht_master table 
  border 1px solid #ccc
  border-collapse separate
  background white


.table-component__table.listbox th,
.table-component__table.listbox trfirst-child th,
.table-component__table.listbox trlast-child th,
.table-component__table.listbox trfirst-child td,
.table-component__table.listbox td 
  border-color transparent


.table-component__table.listbox th,
.table-component__table.listbox td 
  white-space nowrap
  text-overflow ellipsis


.table-component__table.listbox td.htDimmed 
  cursor default
  color inherit
  font-style inherit


.table-component__table.listbox .wtBorder 
  visibility hidden


.table-component__table.listbox tr td.current,
.table-component__table.listbox trhover td 
  background #eee


.ht_clone_top 
  z-index 101


.ht_clone_left 
  z-index 102


.ht_clone_top_left_corner,
.ht_clone_bottom_left_corner 
  z-index 103


.ht_clone_debug 
  z-index 103


.table-component__table td.htSearchResult 
  background #fcedd9
  color #583707


/*
Cell borders
*/
.htBordered
  /*box-sizing border-box !important*/
  border-width 1px

.htBordered.htTopBorderSolid 
  border-top-style solid
  border-top-color #000

.htBordered.htRightBorderSolid 
  border-right-style solid
  border-right-color #000

.htBordered.htBottomBorderSolid 
  border-bottom-style solid
  border-bottom-color #000

.htBordered.htLeftBorderSolid 
  border-left-style solid
  border-left-color #000


.table-component__table tbody tr thnth-last-child(2) 
  border-right 1px solid #CCC


.table-component__table thead trnth-last-child(2) th.htGroupIndicatorContainer 
  border-bottom 1px solid #CCC
  padding-bottom 5px



.ht_clone_top_left_corner thead tr thnth-last-child(2) 
  border-right 1px solid #CCC


.htCollapseButton 
  width 10px
  height 10px
  line-height 10px
  text-align center
  border-radius 5px
  border 1px solid #f3f3f3
  -webkit-box-shadow 1px 1px 3px rgba(0, 0, 0, 0.4)
  box-shadow 1px 1px 3px rgba(0, 0, 0, 0.4)
  cursor pointer
  margin-bottom 3px
  position relative


.htCollapseButtonafter 
  content ""
  height 300%
  width 1px
  display block
  background #ccc
  margin-left 4px
  position absolute
  /*top -300%*/
  bottom 10px



thead .htCollapseButton 
  right 5px
  position absolute
  top 5px
  background #fff


thead .htCollapseButtonafter 
  height 1px
  width 700%
  right 10px
  top 4px


.table-component__table tr th .htExpandButton 
  position absolute
  width 10px
  height 10px
  line-height 10px
  text-align center
  border-radius 5px
  border 1px solid #f3f3f3
  -webkit-box-shadow 1px 1px 3px rgba(0, 0, 0, 0.4)
  box-shadow 1px 1px 3px rgba(0, 0, 0, 0.4)
  cursor pointer
  top 0
  display none


.table-component__table thead tr th .htExpandButton 
  /*left 5px*/
  top 5px


.table-component__table tr th .htExpandButton.clickable 
  display block


.collapsibleIndicator 
  position absolute
  top 50%
  transform translate(0% ,-50%)
  right 5px
  border 1px solid #A6A6A6
  line-height 10px
  color #222
  border-radius 10px
  font-size 10px
  width 10px
  height 10px
  cursor pointer
  -webkit-box-shadow 0 0 0 6px rgba(238,238,238,1)
  -moz-box-shadow 0 0 0 6px rgba(238,238,238,1)
  box-shadow 0 0 0 6px rgba(238,238,238,1)
  background #eee


.table-component__table col.hidden 
  width 0 !important


.table-component__table table tr th.lightRightBorder 
  border-right 1px solid #E6E6E6


.table-component__table tr.hidden,
.table-component__table tr.hidden td,
.table-component__table tr.hidden th 
  display none


.ht_master,
.ht_clone_left,
.ht_clone_top,
.ht_clone_bottom 
  overflow hidden


.ht_master .wtHolder 
  overflow auto


.ht_clone_left .wtHolder 
  overflow-x hidden
  overflow-y auto


.ht_clone_top .wtHolder,
.ht_clone_bottom .wtHolder 
  overflow-x auto
  overflow-y hidden



/*WalkontableDebugOverlay*/

.wtDebugHidden 
  display none


.wtDebugVisible 
  display block
  -webkit-animation-duration 0.5s
  -webkit-animation-name wtFadeInFromNone
  animation-duration 0.5s
  animation-name wtFadeInFromNone


@keyframes wtFadeInFromNone 
  0% 
    display none
    opacity 0
  

  1% 
    display block
    opacity 0
  

  100% 
    display block
    opacity 1
  


@-webkit-keyframes wtFadeInFromNone 
  0% 
    display none
    opacity 0
  

  1% 
    display block
    opacity 0
  

  100% 
    display block
    opacity 1
  

/*
 Handsontable Mobile Text Editor stylesheet
 */

.table-component__table.mobile,
.table-component__table.mobile .wtHolder 
  -webkit-touch-calloutnone
  -webkit-user-selectnone
  -khtml-user-selectnone
  -moz-user-selectnone
  -ms-user-selectnone
  user-selectnone
  -webkit-tap-highlight-colorrgba(0,0,0,0)
  -webkit-overflow-scrolling touch


.htMobileEditorContainer 
  display none
  position absolute
  top 0
  width 70%
  height 54pt
  background #f8f8f8
  border-radius 20px
  border 1px solid #ebebeb
  z-index 999
  box-sizing border-box
  -webkit-box-sizing border-box
  -webkit-text-size-adjust none


.topLeftSelectionHandlenot(.ht_master .topLeftSelectionHandle),
.topLeftSelectionHandle-HitAreanot(.ht_master .topLeftSelectionHandle-HitArea) 
  z-index 9999


/* Initial left/top coordinates - overwritten when actual position is set */
.topLeftSelectionHandle,
.topLeftSelectionHandle-HitArea,
.bottomRightSelectionHandle,
.bottomRightSelectionHandle-HitArea 
  left -10000px
  top -10000px


.htMobileEditorContainer.active 
  display block


.htMobileEditorContainer .inputs 
  position absolute
  right 210pt
  bottom 10pt
  top 10pt
  left 14px
  height 34pt


.htMobileEditorContainer .inputs textarea 
  font-size 13pt
  border 1px solid #a1a1a1
  -webkit-appearance none
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none
  position absolute
  left 14px
  right 14px
  top 0
  bottom 0
  padding 7pt


.htMobileEditorContainer .cellPointer 
  position absolute
  top -13pt
  height 0
  width 0
  left 30px

  border-left 13pt solid transparent
  border-right 13pt solid transparent
  border-bottom 13pt solid #ebebeb


.htMobileEditorContainer .cellPointer.hidden 
  display none


.htMobileEditorContainer .cellPointerbefore 
  content ''
  display block
  position absolute
  top 2px
  height 0
  width 0
  left -13pt

  border-left 13pt solid transparent
  border-right 13pt solid transparent
  border-bottom 13pt solid #f8f8f8


.htMobileEditorContainer .moveHandle 
  position absolute
  top 10pt
  left 5px
  width 30px
  bottom 0px
  cursor move
  z-index 9999


.htMobileEditorContainer .moveHandleafter 
  content "..\A..\A..\A.."
  white-space pre
  line-height 10px
  font-size 20pt
  display inline-block
  margin-top -8px
  color #ebebeb


.htMobileEditorContainer .positionControls 
  width 205pt
  position absolute
  right 5pt
  top 0
  bottom 0


.htMobileEditorContainer .positionControls > div 
  width 50pt
  height 100%
  float left


.htMobileEditorContainer .positionControls > divafter 
  content " "
  display block
  width 15pt
  height 15pt
  text-align center
  line-height 50pt


.htMobileEditorContainer .leftButtonafter,
.htMobileEditorContainer .rightButtonafter,
.htMobileEditorContainer .upButtonafter,
.htMobileEditorContainer .downButtonafter 
  transform-origin 5pt 5pt
  -webkit-transform-origin 5pt 5pt
  margin 21pt 0 0 21pt


.htMobileEditorContainer .leftButtonafter 
  border-top 2px solid #288ffe
  border-left 2px solid #288ffe
  -webkit-transform rotate(-45deg)
  /*margin-top 17pt*/
  /*margin-left 20pt*/

.htMobileEditorContainer .leftButtonactiveafter 
  border-color #cfcfcf


.htMobileEditorContainer .rightButtonafter 
  border-top 2px solid #288ffe
  border-left 2px solid #288ffe
  -webkit-transform rotate(135deg)
  /*margin-top 17pt*/
  /*margin-left 10pt*/

.htMobileEditorContainer .rightButtonactiveafter 
  border-color #cfcfcf


.htMobileEditorContainer .upButtonafter 
  /*border-top 2px solid #cfcfcf*/
  border-top 2px solid #288ffe
  border-left 2px solid #288ffe
  -webkit-transform rotate(45deg)
  /*margin-top 22pt*/
  /*margin-left 15pt*/

.htMobileEditorContainer .upButtonactiveafter 
  border-color #cfcfcf


.htMobileEditorContainer .downButtonafter 
  border-top 2px solid #288ffe
  border-left 2px solid #288ffe
  -webkit-transform rotate(225deg)
  /*margin-top 15pt*/
  /*margin-left 15pt*/

.htMobileEditorContainer .downButtonactiveafter 
  border-color #cfcfcf


.table-component__table.hide-tween 
  -webkit-animation opacity-hide 0.3s
  animation opacity-hide 0.3s
  animation-fill-mode forwards
  -webkit-animation-fill-mode forwards


.table-component__table.show-tween 
  -webkit-animation opacity-show 0.3s
  animation opacity-show 0.3s
  animation-fill-mode forwards
  -webkit-animation-fill-mode forwards

.htCommentCell 
    position relative


.htCommentCellafter 
    content ''
    position absolute
    top 0
    right 0
    border-left 6px solid transparent
    border-top 6px solid black


.htComments 
    display none
    z-index 1059
    position absolute


.htCommentTextArea 
    box-shadow rgba(0, 0, 0, 0.117647) 0 1px 3px, rgba(0, 0, 0, 0.239216) 0 1px 2px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    border none
    border-left 3px solid #ccc
    background-color #fff
    width 215px
    height 90px
    font-size 12px
    padding 5px
    outline 0px !important
    -webkit-appearance none


.htCommentTextAreafocus 
    box-shadow rgba(0, 0, 0, 0.117647) 0 1px 3px, rgba(0, 0, 0, 0.239216) 0 1px 2px, inset 0 0 0 1px #5292f7
    border-left 3px solid #5292f7

/*!
 * Handsontable ContextMenu
 */

.htContextMenu 
  display none
  position absolute
  z-index 1060 /* needs to be higher than 1050 - z-index for Twitter Bootstrap modal (#1569) */


.htContextMenu .ht_clone_top,
.htContextMenu .ht_clone_left,
.htContextMenu .ht_clone_corner,
.htContextMenu .ht_clone_debug 
  display none


.htContextMenu table.htCore 
  border 1px solid #ccc
  border-bottom-width 2px
  border-right-width 2px


.htContextMenu .wtBorder 
  visibility hidden


.htContextMenu table tbody tr td 
  background white
  border-width 0
  padding 4px 6px 0 6px
  cursor pointer
  overflow hidden
  white-space nowrap
  text-overflow ellipsis


.htContextMenu table tbody tr tdfirst-child 
  border 0


.htContextMenu table tbody tr td.htDimmed 
  font-style normal
  color #323232


.htContextMenu table tbody tr td.current,
.htContextMenu table tbody tr td.zeroclipboard-is-hover 
  background #f3f3f3


.htContextMenu table tbody tr td.htSeparator 
  border-top 1px solid #bbb
  height 0
  padding 0
  cursor default


.htContextMenu table tbody tr td.htDisabled 
  color #999
  cursor default


.htContextMenu table tbody tr td.htDisabledhover 
  background #fff
  color #999
  cursor default


.htContextMenu table tbody tr.htHidden 
  display none


.htContextMenu table tbody tr td .htItemWrapper 
  margin-left 10px
  margin-right 6px


.htContextMenu table tbody tr td div span.selected 
  margin-top -2px
  position absolute
  left 4px


.htContextMenu .ht_master .wtHolder 
  overflow hidden

textarea#HandsontableCopyPaste 
  position fixed !important
  top 0 !important
  right 100% !important
  overflow hidden
  opacity 0
  outline 0 none !important

.htRowHeaders .ht_master.innerBorderLeft ~ .ht_clone_top_left_corner thnth-child(2),
.htRowHeaders .ht_master.innerBorderLeft ~ .ht_clone_left tdfirst-of-type 
  border-left 0 none

.table-component__table .wtHider 
  position relative

.table-component__table.ht__manualColumnMove.after-selection--columns thead th.ht__highlight 
  cursor move
  cursor -moz-grab
  cursor -webkit-grab
  cursor grab

.table-component__table.ht__manualColumnMove.on-moving--columns,
.table-component__table.ht__manualColumnMove.on-moving--columns thead th.ht__highlight 
  cursor move
  cursor -moz-grabbing
  cursor -webkit-grabbing
  cursor grabbing

.table-component__table.ht__manualColumnMove.on-moving--columns .manualColumnResizer 
  display none

.table-component__table .ht__manualColumnMove--guideline,
.table-component__table .ht__manualColumnMove--backlight 
  position absolute
  height 100%
  display none

.table-component__table .ht__manualColumnMove--guideline 
  background #757575
  width 2px
  top 0
  margin-left -1px
  z-index 105

.table-component__table .ht__manualColumnMove--backlight 
  background #343434
  background rgba(52, 52, 52, 0.25)
  display none
  z-index 105
  pointer-events none

.table-component__table.on-moving--columns.show-ui .ht__manualColumnMove--guideline,
.table-component__table.on-moving--columns .ht__manualColumnMove--backlight 
  display block

.table-component__table .wtHider 
  position relative

.table-component__table.ht__manualRowMove.after-selection--rows tbody th.ht__highlight 
  cursor move
  cursor -moz-grab
  cursor -webkit-grab
  cursor grab

.table-component__table.ht__manualRowMove.on-moving--rows,
.table-component__table.ht__manualRowMove.on-moving--rows tbody th.ht__highlight 
  cursor move
  cursor -moz-grabbing
  cursor -webkit-grabbing
  cursor grabbing

.table-component__table.ht__manualRowMove.on-moving--rows .manualRowResizer 
  display none

.table-component__table .ht__manualRowMove--guideline,
.table-component__table .ht__manualRowMove--backlight 
  position absolute
  width 100%
  display none

.table-component__table .ht__manualRowMove--guideline 
  background #757575
  height 2px
  left 0
  margin-top -1px
  z-index 105

.table-component__table .ht__manualRowMove--backlight 
  background #343434
  background rgba(52, 52, 52, 0.25)
  display none
  z-index 105
  pointer-events none

.table-component__table.on-moving--rows.show-ui .ht__manualRowMove--guideline,
.table-component__table.on-moving--rows .ht__manualRowMove--backlight 
  display block
